a:hover{
    color: red;
}

body{
    margin: 0px;
}

.clr{
    clear: both;
}

#body{
    margin: 0;
    padding: 0;
}

#main-head h1{ 
   margin: 0;
   padding: 0;
   height: 60px;
   color: white;
    background-color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main-nav {
    height: auto;
    margin: 0;
    width: 100%;
    background-color: lightgray;
    padding-top: 10px;
}

#main-nav ul{
    list-style-type: none;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    height: 30px;
    font-size: large;
    font-weight: 700;
}

#main-nav li{
display: inline-block;
}

#main-nav a{
    color: black;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
}


#main-nav a:hover{
    color: white;
    background-color: black;
}


.para .block{
    background-color: black;
}

.block{
    color: white;
    border: 2px dotted ;
    border-color: grey;
    float: left;
    width:33.3%;
padding: 10px;
box-sizing: border-box;}
    

#footer{
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
    margin-top: 15px;
}

#image{
    background-color: bisque;
    padding-top: 1px;
    padding-bottom: 10px;
}

